{% extends "shop/base.html" %}

{% block content %}
<div class="container mt-4">
  <h2>Mes plats</h2>

  {% if plats %}
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prix</th>
        <th>Portions</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for plat in plats %}
      <tr>
        <td>{{ plat.title }}</td>
        <td>{{ plat.price }} €</td>
        <td>{{ plat.stock }}</td>
        <td>
<a href="{% url 'modifier_plat' plat.id %}" class="btn btn-sm btn-warning">Modifier</a>
<a href="{% url 'supprimer_plat' plat.id %}" class="btn btn-sm btn-danger">Supprimer</a>        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p class="mt-3">Vous n'avez pas encore de plat. <a href="{% url 'ajouter_plat' %}">Ajoutez-en un !</a></p>
  {% endif %}
</div>
{% endblock %}